<!DOCTYPE html>
<html>
<head>
    <title>Farmers Markets List</title>
</head>
<body>
    <h1>Farmers Markets List</h1>

    {% for market in page_obj %}
        <h3>{{ market.market_name }}</h3>
        <p>{{ market.street }}, {{ market.city.city }}, {{ market.state.state_abbr }}, {{ market.zip }}</p>
        <p>Rating: {{ market.review_set.aggregate(Avg('score'))['score__avg'] }}</p>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>